@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fragment+Mono:ital@0;1&family=Righteous&family=Rubik+Wet+Paint&display=swap');


:root {
    --Bungee: 'Bungee Shade', regular;
    --Fragment: 'Fragment Mono', regular;
    --Righteous: 'Righteous', display;
    --Rubik: 'Rubik Wet Paint', display
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--Fragment);
}

body {
    line-height: 1.4;
    color: var(--black);
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    border-radius: 3rem;
}

/*.container{
    background-color: gray;
    opacity: 0.2;
}*

/*--------header---------*/
header {
    min-height: 100vh;
    background: url(/images/jinx-vi.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    text-align: center;
    padding: 2rem;
}

.navbar_brand {
    color: #4C07E8;
    font-size: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Rubik);
    letter-spacing: 1px;
}

.navbar_brand:hover {
    color: #f72585;
}

.navbar_nav a {
    color: #4C07E8;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar_nav a:hover {
    color: #f72585;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    /*----or center----*/
    justify-content: center;
    text-align: center;
}

.banner h1 {
    color: #CFFF3F;
}

.banner p {
    color: #f72585;
    font-size: 3rem;
    padding: 3rem 0 2rem 0;
}

.banner form {
    background: #e5e5e5;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search_input {
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
    background: #e5e5e5;
    color: #f72585;
}

.search_input ::placeholder {
    text-transform: capitalize;
}

.search_btn {
    width: 40px;
    font-size: 1.1rem;
    color: #f72585;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/*----blog------*/
.blog {
    background: url(/images/kratos3.png) center/cover no-repeat fixed;
    padding: 4.5rem 0;
}

.blog_content {
    margin: 2rem 0;
    color: #ffff;
}

.blog_img {
    position: relative;
    margin: 5rem;
}

.blog_img span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffff;
    background: #4C07E8;
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
}

.blog_img span:hover {
    color: #4C07E8;
    background: #ffff;
}

.blog_text {
    margin: 2.2rem 0;
    padding: 0 1rem;
    color: #ffff;
}

.blog_text span {
    display: block;
    padding-bottom: 0.5rem;
}

.blog_text h2 {
    font-family: var(--Fragment);
    color: #4C07E8;
    padding: 1rem 0;
    font-size: 1.65rem;
}

.blog_text h2:hover {
    color: #CFFF3F;
}

.blog_text p {
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}

.blog_text a {
    font-family: var(--Rubik);
    font-size: 1.4rem;
    text-decoration: none;
    color: #CFFF3F;
    background: #4C07E8;
    display: inline-block;
    padding: 0.30rem 0.60rem;
    transition: all 0.5s ease;
}

.blog_text a:hover {
    color: #4C07E8;
    background: #CFFF3F;
}

.title h2 {
    color: #4C07E8;
    font-size: 3rem;
    text-align: center;
}

.title h2:hover {
    color: #CFFF3F;
}

.title p {
    color: #ffff;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

/*-----footer------*/
footer {
    background: #4C07E8;
    color: #ffff;
    text-align: center;
    padding: 1.5rem 0;
}

span1 {
    font-family: var(--Rubik);
    font-size: 1.3rem;
    margin-top: 1rem;
    display: block;
    letter-spacing: 2px;
}

span1:hover {
    color: #CFFF3F;
}

.social_links {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.social_links a {
    border: 2px solid #ffff;
    color: #ffff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all o.5s ease;
}

.social_links a:hover {
    background: #CFFF3F;
    color: #4C07E8;
}


/*---media  min-width 768px----*/
@media screen and (min-width: 768px) {
    .navbar .container {
        align-items: center;
        justify-content: space-between;
    }

    .search_input {
        padding: 0.8rem 0;
    }

    .design-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .design-item {
        margin: 0;
    }

    .blog-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}