@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fragment+Mono:ital@0;1&family=Righteous&family=Rubik+Wet+Paint&display=swap');


:root{
    --Bungee:'Bungee Shade', regular;
    --Fragment:'Fragment Mono', regular;
    --Righteous:'Righteous', display;
    --Rubik:'Rubik Wet Paint', display
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Fragment);
}

body{
    line-height: 1.4;
    color: var(--black);
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/*--------header---------*/
header{
    min-height: 100vh;
    background: url(/images/blog.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.navbar{
    text-align: center;
    padding: 2rem;
}

.navbar_brand{
    color: #ffff;
    font-size: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Rubik);
    letter-spacing: 1px;
}

.navbar_brand:hover{
    color: #38D1AA;
}

.navbar_nav a{
    color:#ffff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar_nav a:hover{
    color: #38D1AA;
}

.banner{
    flex: 1;
    display: flex;
    align-items:center; /*----or center----*/
    justify-content: center;
    text-align: center;
}

.banner h1{
    color: #CFFF3F;
}

.banner p{
    color: #CFFF3F;
    font-size: 3rem;
    padding: 3rem 0 2rem 0;
}

.banner form{
    background: #ffff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between; 
}

.search_input{
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}

.search_input ::placeholder{
    text-transform: capitalize;
}

.search_btn{
    width: 40px;
    font-size: 1.1rem;
    color:#4C07E8;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}